###> symfony/framework-bundle ###
/.env.local
/.env.local.php
/.env.*.local
/public/bundles/
/var/
/vendor/
###< symfony/framework-bundle ###

### Upload
/public/imgpub

/node_modules/

### Logs
php_errors.log
/public/php_errors.log

## Divers
.DS_Store
.idea/
/config.codekit3
/composer
/public/img/Untitled.sketch
closed
notes.md
