
###> symfony/framework-bundle ###
/.env
/.env.local
/.env.local.php
/.env.*.local
/public/bundles/
/var/
/vendor/
###< symfony/framework-bundle ###

###> symfony/phpunit-bridge ###
.phpunit
/phpunit.xml
###< symfony/phpunit-bridge ###

###> symfony/web-server-bundle ###
/.web-server-pid
###< symfony/web-server-bundle ###

###> PhpStorm ###
.idea/
###< PhpStorm ###

###> symfony/webpack-encore-bundle ###
/node_modules/
npm-debug.log
yarn-error.log
###< symfony/webpack-encore-bundle ###

### Compiled assets
/public/css
/public/js
/public/img
/public/fonts

### Upload
/public/imgpub

### Logs
php_errors.log
/public/php_errors.log
.DS_Store



