###> symfony/framework-bundle ###
/.env.local
/.env.local.php
/.env.*.local
/public/bundles/
/var/
/vendor/

###< symfony/framework-bundle ###
###> PhpStorm ###
.idea/
###< PhpStorm ###

### Upload
/public/imgpub

### Logs
php_errors.log
/public/php_errors.log
.DS_Store

/node_modules/


/config.codekit3
/composer
/public/img/Untitled.sketch
closed
