/* cyrillic */
@font-face {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 300;
  src: local("Rubik Light"), local("Rubik-Light"), url(../fonts/iJWHBXyIfDnIV7Fqj2mZ8WD07oB-98o.woff2) format("woff2");
  unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}
/* hebrew */
@font-face {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 300;
  src: local("Rubik Light"), local("Rubik-Light"), url(../fonts/iJWHBXyIfDnIV7Fqj2mf8WD07oB-98o.woff2) format("woff2");
  unicode-range: U+0590-05FF, U+20AA, U+25CC, U+FB1D-FB4F;
}
/* latin-ext */
@font-face {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 300;
  src: local("Rubik Light"), local("Rubik-Light"), url(../fonts/iJWHBXyIfDnIV7Fqj2mT8WD07oB-98o.woff2) format("woff2");
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 300;
  src: local("Rubik Light"), local("Rubik-Light"), url(../fonts/iJWHBXyIfDnIV7Fqj2md8WD07oB-.woff2) format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* cyrillic */
@font-face {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 400;
  src: local("Rubik"), local("Rubik-Regular"), url(../fonts/iJWKBXyIfDnIV7nFrXyw023e1Ik.woff2) format("woff2");
  unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}
/* hebrew */
@font-face {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 400;
  src: local("Rubik"), local("Rubik-Regular"), url(../fonts/iJWKBXyIfDnIV7nDrXyw023e1Ik.woff2) format("woff2");
  unicode-range: U+0590-05FF, U+20AA, U+25CC, U+FB1D-FB4F;
}
/* latin-ext */
@font-face {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 400;
  src: local("Rubik"), local("Rubik-Regular"), url(../fonts/iJWKBXyIfDnIV7nPrXyw023e1Ik.woff2) format("woff2");
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 400;
  src: local("Rubik"), local("Rubik-Regular"), url(../fonts/iJWKBXyIfDnIV7nBrXyw023e.woff2) format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* cyrillic */
@font-face {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 700;
  src: local("Rubik Bold"), local("Rubik-Bold"), url(../fonts/iJWHBXyIfDnIV7F6iGmZ8WD07oB-98o.woff2) format("woff2");
  unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}
/* hebrew */
@font-face {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 700;
  src: local("Rubik Bold"), local("Rubik-Bold"), url(../fonts/iJWHBXyIfDnIV7F6iGmf8WD07oB-98o.woff2) format("woff2");
  unicode-range: U+0590-05FF, U+20AA, U+25CC, U+FB1D-FB4F;
}
/* latin-ext */
@font-face {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 700;
  src: local("Rubik Bold"), local("Rubik-Bold"), url(../fonts/iJWHBXyIfDnIV7F6iGmT8WD07oB-98o.woff2) format("woff2");
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 700;
  src: local("Rubik Bold"), local("Rubik-Bold"), url(../fonts/iJWHBXyIfDnIV7F6iGmd8WD07oB-.woff2) format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
body {
  min-height: 100vh;
  padding: 0px;
  margin: 0px;
  background: #00010a url(../img/background.jpg) no-repeat center center;
  background-size: cover;
  font-family: "Rubik";
}

.screenCenter {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  background: rgba(0, 0, 0, 0.6);
  backdrop-filter: blur(5px);
}

p {
  color: #fff;
  font-size: 3rem;
  line-height: normal;
  font-weight: 700;
  text-transform: uppercase;
  text-shadow: 0px 5px 5px rgba(0, 0, 0, 0.5);
}

.txtcenter {
  text-align: center;
}

#lottery {
  position: relative;
  width: 60vw;
  height: 150px;
  background: #fff;
  border: 10px solid #fff;
  border-radius: 30px;
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.7), inset 0px 20px 50px rgba(0, 0, 0, 0.3), inset 0px -20px 50px rgba(0, 0, 0, 0.3);
  overflow: hidden;
}
#lottery #playersList {
  position: absolute;
  top: 0px;
  left: 0px;
  margin: 0px;
  padding: 0px;
  width: inherit;
}
#lottery #playersList li {
  display: flex;
  justify-content: center;
  align-items: center;
  width: inherit;
  height: 150px;
  margin: 0px;
  padding: 0px;
  list-style: none;
  font-size: 70px;
  font-weight: 700;
  color: #3d5aa8;
  text-align: center;
  line-height: 70px;
}
