<html>
<head>
   <style>
       html {
         margin: 0px;
      padding: 0px;
        }
        body {
         margin: 0px;
         padding: 0px;
         
         font-family: Rubik;
        }
        
        .page{
           box-sizing: border-box;
           
           width: 296mm;
           height: 209mm;
           
           padding: 10mm;
           
           display: grid;
           grid-template-columns: repeat(4,1fr);
           grid-template-rows: 1fr 1fr;
           
           page-break-after: always;
        }

        .page > div {
             box-sizing: border-box;
             
            padding: 5mm;
            text-align: center;
            outline: 1px solid #eee;
            
            overflow: hidden;
        }
        h2{
           margin: 0px;
           color: #f29200;
        }
        p{
           margin: 5px 0px;
           
           font-size: 14px;
        }
        img{
           width: 150px;
        }
        strong{
           display: inline-block;
           margin-top: 5px;
           padding: 2px 4px;
           border: 1px solid #ccc;
           border-radius: 3px;
             color: #f29200;
        }
   </style>
</head>
<body>
   {% set count = 0 %}
   {% set pile = 'no' %}
   
    {% for token in tokens %}
    
    {% set count = count + 1 %}
    
    {% if count==1 %}
    <div class="page">
    {% endif %}
    
        <div>
           <h2>Votez pour le prix du public</h2>
           <p>Pour participer, flashez le QR code suivant avec votre smartphone</p>
           {% set url = url('app_login_code', {t: token}) %}
           <p>
               <a href="{{ url }}">
                   <img src="{{ url|qrcode }}">
               </a>
           </p>
           <p>Ou rendez vous sur gpdc.fr et renseignez votre code personnel :<br>
               <strong>{{ token|upper }}</strong>
            </p>
            
            
        </div>
        
   {% if count==8 %} 
       </div>
       {% set count = 0 %}
       {% set pile = 'yes' %}
    {% else %}
       {% set pile = 'no' %}
    {% endif %}
    
    {% endfor %}
    
    {% if pile=='no' %}
      </div>
    {% endif %}
 </body>
</html>
