{% extends 'game/base.html.twig' %}

{% block content %}

<div id="mainWrapper" class="bigCover">
        
        <div class="clouds"></div>
        
        <div class="content">

            <section>
                
                <div class="logo"><img src="/img/title.png" alt="Grand Prix de la Chanson"></div>

                <p><strong>À partir du 25 septembre</strong>, inscrivez-vous sur ce site pour pouvoir <strong>voter en live</strong> le samedi 28 septembre pour votre candidat préféré !</p>
                <p>Le grand gagnant recevra le Prix du public !</strong></p>

            </section>
            
            <section class="graySection">
                
                <p><img src="/img/lillebonne.png" alt="Ville de Lillebonne"></p>
                
            </section>
            
        </div>

</div>

{% endblock content %}
