{% extends 'game/base.html.twig' %}

{% block content %}

<div id="mainWrapper" class="bigCover">
        
        <div class="clouds"></div>
        
        <div class="content">

            <section>
                
                <div class="logo"><img src="/img/title.png" alt="56e Grand Prix de la Chanson"></div>

                <p>Le 56e Grand Prix de la Chanson est maintenant terminé !</p>

            </section>
            
            <section class="graySection">
                
                <p><img src="/img/lillebonne.png" alt="Ville de Lillebonne"></p>
                
            </section>
            
        </div>

</div>

{% endblock content %}
