{% extends 'game/base.html.twig' %}

{% block content %}

<div id="mainWrapper">
        
    <div class="clouds"></div>

    <div class="content">

        <section>

            <h1>Inscription</h1>
            <h2>Vous avez un code ?</h2>
            
            <p>Pour vous connecter, renseignez le code unique indiqué sur le bulletin de participation qui vous à été remis à l'entrée.</p>

            <form method="get" action="{{ path('app_login_code') }}">
                <div class="codeForm">
                    <label>Mon code</label>
                    
                    <div></div>
                        
                    <input type="text" name="t" id="inputCode" required>

                    <style>
                        #scanButton:disabled {
                        }
                    </style>
                    <div>
                        <button type="button" id="scanButton" class="button redButton borderedButton">
                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="#fff" style="width:20px;height: 20px;">
                              <path d="M12 9a3.75 3.75 0 100 7.5A3.75 3.75 0 0012 9z" />
                              <path fill-rule="evenodd" d="M9.344 3.071a49.52 49.52 0 015.312 0c.967.052 1.83.585 2.332 1.39l.821 1.317c.24.383.645.643 1.11.71.386.054.77.113 1.152.177 1.432.239 2.429 1.493 2.429 2.909V18a3 3 0 01-3 3h-15a3 3 0 01-3-3V9.574c0-1.416.997-2.67 2.429-2.909.382-.064.766-.123 1.151-.178a1.56 1.56 0 001.11-.71l.822-1.315a2.942 2.942 0 012.332-1.39zM6.75 12.75a5.25 5.25 0 1110.5 0 5.25 5.25 0 01-10.5 0zm12-1.5a.75.75 0 100-1.5.75.75 0 000 1.5z" clip-rule="evenodd" />
                            </svg>
                        </button>
                    </div>
                    {# ":disabled" si le navigateur ne supporte pas mediaDevices & BarcodeDetector #}

                </div>
                <p class="mtm"><button class="button redButton blockButton">Valider</button></p>
            </form>

            {% if app_inscription %}
            <p><a href="{{ path('app_register') }}">Je n'ai pas de code</a></p>
            {% endif %}

        </section>
    </div>
</div>

{# Code Scanner #}
<dialog id="videoDialig">
    <video id="video" width="640" height="480" autoplay></video>
</dialog>

<script>
    // https://www.jsnow.io/p/javascript/creating-a-real-time-qr-code-scanner-with-vanilla-javascript-part-1
    // https://www.jsnow.io/p/javascript/creating-a-real-time-qr-code-scanner-with-javascript-part-2

    const video = document.querySelector('#video')
    const videoDialog = document.querySelector('#videoDialig')
    const scanButton = document.querySelector('#scanButton')
    const select = document.querySelector('#inputCode')

    // Check if device has camera
    if (!navigator.mediaDevices || !navigator.mediaDevices.getUserMedia) {
        // Set background color to red
        scanButton.disabled = true;
        console.log('No camera found!')
    }

    // Check if BarcodeDetector is supported
    if (!('BarcodeDetector' in window)) {
        scanButton.disabled = true;
        console.log('BarcodeDetector is not supported by this browser!')
    }


    video.addEventListener("click", () => {
        videoDialog.close()
    });

    videoDialog.addEventListener("close", () => {
        // Stop video stream & scan
        if (video.srcObject) {
            video.srcObject.getTracks().forEach(track => track.stop())
        }

        if (videoDialog.returnValue) {
            select.value = videoDialog.returnValue
            console.log(select.value)
            select.dispatchEvent(new Event('change'))
        }
    })

    // Open the dialog
    scanButton.addEventListener('click', () => {

        if (!videoDialog.open) videoDialog.showModal()
        // Use video without audio
        const constraints = {
            audio: false,
            video: {
                facingMode: 'environment'
            },
        }

        // Start video stream
        console.log('Start video stream')
        navigator.mediaDevices.getUserMedia(constraints)
            .then(stream => video.srcObject = stream)
            .then(() => setInterval(detectCode, 100))
            .catch(err => console.error(err));

        // Create new barcode detector
        // NB: liste des formats possibles : https://developer.mozilla.org/en-US/docs/Web/API/Barcode_Detector
        const barcodeDetector = new BarcodeDetector({ formats: ['qr_code'] });

        // Detect code function
        const detectCode = () => {
            // Start detecting codes on to the video element
            barcodeDetector.detect(video).then(codes => {
                // If no codes exit function
                if (codes.length === 0) return;

                for (const barcode of codes) {
                    // Log the barcode to the console
                    console.log(barcode);

                    // Get the barcode value
                    //select.value = barcode.rawValue
                    //select.setValue([barcode.rawValue])

                    // http[s]://[...]?t=[token]
                    videoDialog.returnValue = barcode.rawValue.replace(/^.*\?t=/, '');

                    videoDialog.close();
                    return;
                }
            }).catch(err => {
                // Log an error if one happens
                console.error(err);
            })
        }

    })
</script>

{% endblock content %}




