{% extends 'game/base.html.twig' %}

{% block content %}

    Visuel
    <br>
    <h1>Fin du jeu</h1>
    <br>
    Lorem ipsum...
    <br>
    <br>


    <h2>Doubler mes chances</h2>
    bla bla bla<br>
    <a href="{{ path('game_share') }}" target="_blank">Partager</a>




{% endblock content %}
