{% extends 'game/base.html.twig' %}

{% block content %}

<div id="mainWrapper">
        
    <div class="clouds"></div>

    <div class="content">

        <section>

            <div class="logo"><img src="/img/titre.png" alt="Grand Jeu Viking"></div>

            {% if app_gpdc %}
                <p>Et voilà ! Vous avez noté tous nos candidats !</p>
                <p>Grâce à vos votes, l'un d'entre eux remportera le Prix du Public !</p>
                <p>Merci de votre participation !</p>
            {% else %}
                <p>Bravo, vous avez terminé le grand jeu <strong>Vikings</strong> !</p>
                <p>Peut-être remporterez vous l’un des nombreux lots dès maintenant ou par tirage au sort le 3 avril.</p>
            {% endif %}

            {% if app_fbshare %}
                <p>En attendant, <strong>doublez vos chances</strong> en partageant le jeu sur Facebook</p>
                <p><a href="{{ path('game_share') }}" target="_blank" class="button redButton">Partager</a></p>
            {% endif %}

        </section>

        <section class="graySection">
            <h2>Des dizaines de cadeaux à gagner !</h2>
            <h3>Gagnez à tout moment !</h3>
            <p>Vous pouvez gagner à tout moment : écoutez bien la sono de la foire, un gagnant est désigné toute les 30 minutes en moyenne !</p>
            <h3>Grand tirage au sort !</h3>
            <p>Et à la fin de la foire, un grand tirage au sort désignera les heureux gagnants des "gros lots" !</p>
            <p>Pour en savoir plus,<br>consultez le <a href="{{ asset('reglement2022.pdf') }}" target="_blank">règlement</a></p>
        </section>

        {% if app_gpdc %}
            <section class="graySection">
                <p><img src="/img/lillebonne.png" alt="Ville de Lillebonne"></p>
            </section>
        {% endif %}

    </div>

</div>
{% endblock content %}
