{% extends 'game/base.html.twig' %}

{% block content %}

<div id="mainWrapper">
        
        <div class="clouds"></div>
        
        <div class="content">
            
            <section>
                    
                <div class="logo"><img src="/img/title.png" alt="56e Grand Prix de la Chanson"></div>

                <p>Et voilà ! Vous avez noté tous nos candidats !</p>
                <p>Grâce à vos votes, l'un d'entre eux remportera le Prix du Public !</p>
                <p>Merci de votre participation !</p>
                 
            </section>
            
            <section class="graySection">
                    
                    <p><img src="/img/lillebonne.png" alt="Ville de Lillebonne"></p>
                
            </section>
            
            
            




{% endblock content %}
