{% extends 'game/base.html.twig' %}

{% block content %}

<div id="mainWrapper">
        
        <div class="clouds"></div>
        
        <div class="content">
            
            <section>
               
                <h1>Dans quel hall menez-vous l'enquête ?</h1>
                
                <p>Sélectionnez le hall dans lequel vous vous trouvez.</p>
            
                <ul class="hallSelector">
                    {% for hall in halls %}
                    <li>
                        {% if player.isHallDone(hall.id) %}
                            <span>{{ hall.name }}</span>
                        {% else %}
                            <a href="{{ path('game_hall', {name: hall.name}) }}">Hall {{ hall.name }}</a>
                        {% endif %}
                    </li>
                    {% endfor %}
                </ul>
    
            </section>
        </div>
</div>


{% endblock content %}


