{% extends 'game/base.html.twig' %}

{% block content %}

<div id="mainWrapper">
        
        <div class="clouds"></div>
        
        <div class="content">
            
            <section>
               
                <h1>Dans quel hall menez-vous l'enquête ?</h1>
                
                <p>Sélectionnez le hall dans lequel vous vous trouvez.</p>
            
                <ul class="hallSelector">
                    {% for hall in halls %}
                    <li>
                        {% if player.isHallDone(hall.id) %}
                            <span>Hall {{ hall.name }}</span>
                        {% else %}
                            <a href="{{ path('game_hall', {name: hall.name}) }}">Hall {{ hall.name }}</a>
                        {% endif %}
                    </li>
                    {% endfor %}
                </ul>
    
            </section>

            {#
            <section>
            
            	<h2>Félicitations !</h2>
            	
            	<h1>Vous êtes maintenant inscrit au grand jeu 7 samourais de la Foire de Rouen !</h1>
            	
            	<p>À partir du 4 septembre parcourez avec nous la Foire de Rouen pour répondre aux énigmes cachées dans les halls et gagnez des cadeaux !<br><strong>Plus de 4000€ de lots vous attendent !</strong></p>
            	
            	<p>En attendant, surveillez bien votre boite mail car vous serez peut-être l'heureux gagnant d'une entrée gratuite à la Foire. <strong>Des dizaines de places à gagner par tirage au sort le 3 septembre !</strong></p>
            
            </section>

            <section class="graySection">

                <h2>Doubler mes chances</h2>

                <p>Partagez le jeu sur Facebook pour soutenir la Foire de Rouen et doubler vos chance d’être tiré au sort !</p>

                <p><a href="{{ path('game_share') }}" target="_blank" class="button redButton">Partager</a></p>

            </section>
            #}

        </div>
</div>


{% endblock content %}


