{% extends 'game/base.html.twig' %}

{% block content %}

<div id="mainWrapper">
        
        <div class="clouds"></div>
        
        <div class="content">
            
            <section>
                
                <h1>Comment jouer ?</h1>

                <h3>Se connecter</h3>
                <p>Renseignez les quelques informations demandées dans le formulaire d'inscription, vos coordonnées seront utilisées pour vous contacter si vous remportez un tirage au sort.</p>
                
                <h3>Trouver les indices</h3>
                <p>1. Sélectionnez le hall dans lequel vous vous trouvez.</p>
                <p>2. Parcourez le hall à la recherche du totem du jeu, sur celui-ci vous trouverez un indice qui vous permettra de répondre à la question du hall.</p>
                <p>3. Une fois que vous avez répondu à la question du hall dans lequel vous vous trouvez, retournez à la liste des halls, cliquez sur un autre hall et partez à la recherche du totem suivant !</p>
                
                <p><img src="{{asset('img/totem.jpg')}}"></p>
                
                <h3>Fin du jeu</h3>
                <p>Une fois que vous avez répondu aux énigmes de tous les halls, vous avez terminé le jeu, bravo !</p>
                <p>Vous pouvez être tiré au sort à tous moments pendant votre visite de la foire pour nos petits lots.<br>Mais vous participerez aussi au grand tirage au sort pour les "gros" lots à la fin de la Foire !</p>                
                
                <p><a href="javascript:history.back()">Retour</a></p>
    
            </section>
        </div>
</div>


{% endblock content %}
