{% extends 'game/base.html.twig' %}

{% block content %}

    Visuel
    <br>
    <h1>Règlement</h1>
    <br>
    Lorem ipsum...
    <br>
    <br>
    <a href="javascript:history.back()">Retour</a>


{% endblock content %}
