{% extends 'game/base.html.twig' %}

{% block content %}

<div id="mainWrapper">
        
        <div class="clouds"></div>
        
        <div class="content">
            
            <section>
                
                <h1>Règlement</h1>
                
                
                <h2>REGLEMENT DU VOTE PRIX SPECIAL DU PUBLIC 59ème GRAND PRIX DE LA CHANSON DE LILLEBONE</h2>

                <h3>Article 1 : Organisation</h3>
                <p>La ville de Lillebonne, ci-après désignée sous le nom « L'organisatrice », esplanade François Mitterrand 76170 Lillebonne, organise son 59ème grand prix de la chanson le samedi 23 septembre 2023 avec les moyens techniques de la société GSA Productions, désignée ci-après « le prestataire ».</p>
                
                <h3>Article 2 : Participants</h3>
                <p>Ce prix spécial du public du 59ème Grand Prix de la chanson est à destination des spectateurs de l’évènement qui se déroule au centre culturel Juliobona le samedi 23 septembre 2023.</p>

                <p>La participation au vote implique l'entière acceptation du présent règlement.</p>
                
                <h3>Article 3 : Modalités de participation</h3>
                <p>À partir du 11 septembre 2023, le spectateur doit se connecter sur son smartphone à l’adresse www.gpdc.fr et suivre les instructions pour participer en direct au vote.</p>
                <p>Le participant doit remplir totalement et correctement le formulaire de renseignements pour que son inscription soit validée.<br>
                Le spectateur est informé et accepte que les informations saisies dans le formulaire d'inscription vaillent preuve de son identité.</p>




                <h3>La règle du vote</h3>
                <p>Le spectateur doit s’inscrire à l’aide de son smartphone et donner une note allant de 1 à 5 à chaque chanteur amateur après son passage sur scène.</p>
                <p>Le chanteur amateur remportant le plus de points sera désigné comme gagnant du prix spécial du public.</p>

                <h3>Article 4 : Utilisation des données personnelles des participants</h3>
                <p>Les informations des participants sont enregistrées et uniquement utilisées par « L'organisatrice » et « le prestataire » pour mémoriser leur participation au vote.</p>
                <p>Aucune exploitation des données ne sera faite par l’organisatrice et seront supprimées une semaine après le 59ème grand prix de la chanson.</p>

                <h3>Article 5 : Propriété industrielle et intellectuelle</h3>
                <p>La reproduction, la représentation ou l'exploitation de tout ou partie des éléments composant ce vote, le présent règlement compris sont strictement interdites.</p>
                <p>La participation à ce jeu implique l'acceptation pleine et entière du présent règlement par les participants.</p> 

                <h3>Article 6 : Convention de preuve</h3>
                <p>De convention expresse entre le participant et « L'organisatrice », les systèmes et fichiers informatiques de « L'organisatrice » feront seuls foi.</p>
                <p>Les registres informatisés, conservés dans les systèmes informatiques du prestataire dans des conditions raisonnables de sécurité et de fiabilité, sont considérés comme les preuves des relations et communications intervenues entre « L'organisatrice » et le participant.</p>
                <p>Les éléments considérés constituent ainsi des preuves et s'ils sont produits comme moyens de preuve par « L'organisatrice » dans toute procédure contentieuse ou autre, ils seront recevables, valables et opposables entre les parties de la même manière, dans les mêmes conditions et avec la même force probante que tout document qui serait établi, reçu ou conservé par écrit.</p>

                <h3>Article 7 : Responsabilité</h3>
                <p>L’organisatrice ne garantit pas que le Jeu fonctionne sans interruption, défaillance, ou sans dysfonctionnement, ni l’absence d’erreurs informatiques ou autres, ni que les défauts constatés seront corrigés, ce que le participant reconnaît expressément.</p>
                <p>La Société Organisatrice ne pourra également être tenue responsable notamment en cas d’erreurs, omissions, imperfections, interruptions, effacements, pertes d’informations ou de données, délais de transmission, défaillances du vote, ou si le participant ne parvient pas à accéder ou à participer au vote, à transmettre sa réponse et en cas de force majeure ou à un cas fortuit.</p>
                
                
                <p><a href="javascript:history.back()">Retour</a></p>
    
            </section>
        </div>
</div>


{% endblock content %}
