{% extends 'game/base.html.twig' %}

{% block content %}

<div id="mainWrapper">
        
        <div class="clouds"></div>
        
        <div class="content">
            
            <section>
                
                <h1>Règlement</h1>
                
                
                <h2>REGLEMENT DU JEU-CONCOURS</h2>

                <h3>Article 1 : Organisation</h3>
                <p>L’Association loi 1901 ROUEN-EXPO EVENEMENTS, ci-après désignée sous le nom « L'organisatrice », dont le siège social est situé 48 Avenue des Canadiens 76120 Le Grand-Quevilly, immatriculée sous le numéro SIRET  781 037 593 00014, organise un jeu avec obligation d'achat du  04/09/2020 au 13/09/2020 minuit (jour inclus).</p>
                
                <h3>Article 2 : Participants</h3>
                <p>Ce jeu avec obligation d'achat est ouvert aux personnes majeures, à la date du début du jeu, résidant en France métropolitaine (Corse comprise).</p>

                <p>Sont exclues du jeu les personnes ne répondant pas aux conditions ci-dessus ainsi que les membres du personnel de « L'organisatrice », et toute personne ayant directement ou indirectement participé à la conception, à la réalisation ou à la gestion du jeu ainsi que leur conjoint, les membres de leurs familles : ascendants et descendants directs ou autres parents vivant ou non sous leur toit.</p>

                <p>« L'organisatrice » se réserve le droit de demander à tout participant de justifier des conditions ci-dessus exposées. Toute personne ne remplissant pas ces conditions ou refusant de les justifier sera exclue du jeu et ne pourra, en cas de gain, bénéficier de son lot.</p>

                <p>Il n'est autorisé qu'une seule participation par personne (même nom, même adresse). « L'organisatrice » se réserve le droit de procéder à toute vérification pour le respect de cette règle.</p>

                <p>La participation au jeu implique l'entière acceptation du présent règlement.</p>
                
                <h3>Article 3 : Modalités de participation</h3>
                <p>À partir du 04 septembre 2020, le participant visiteur de la Foire de Rouen 2020 doit se connecter sur son smartphone à l’adresse www.7samourais.fr et suivre les instructions pour jouer en direct dans les allées de la Foire de Rouen.</p>
                <p>Le participant doit remplir totalement et correctement le formulaire de renseignements pour que son inscription soit validée. <br>
                    Le joueur est informé et accepte que les informations saisies dans le formulaire d'inscription vaillent preuve de son identité.<br>
                    Les joueurs auront également  la possibilité de doubler leur chance de gagner en se connectant à facebook à partir du jeux</p>




                <h3>La règle du jeu</h3>
                <p>Le participant doit s’inscrire à l’aide de son smartphone et répondre à des questions (8) type quizz  ou se promener dans les allées  de la foire de Rouen pour trouver des réponses aux questions inscrites  sur des kakemonos disposés dans les halls et à l’extérieur (une par hall et extérieur)  </p>
                <p>2 niveaux de jeu :</p>
                <p>Niveau 1, le parcours complet (huit questions remplies) pour être tiré au sort pour les lots principaux (voir liste)</p>
                <p>Niveau 2, l’inscription et la réponse à un minimum de 2 questions pour être tiré au sort et être appelé par notre animateur Fabrice à tout moment pour gagner un cadeau surprise de type goodies ou des lots Foire de Rouen du 04 au 13 09 20 de 10 h à 20 h chaque jour!</p>
                <p>Le règlement complet est disponible au point animation, sur le site de la foire de Rouen et sur le jeu.</p>

                <p>Toute participation effectuée contrairement aux dispositions du présent règlement rendra la participation invalide. Tout participant suspecté de fraude pourra être écarté du jeu-concours par « L'organisatrice » sans que celle-ci n'ait à en justifier. Toute identification ou participation incomplète, erronée ou illisible, volontairement ou non, ou réalisée sous une autre forme que celle prévue dans le présent règlement sera considérée comme nulle. La même sanction s'appliquera en cas de multi-participation. </p>

                <h3>Article 4 : Gains</h3>
                <p>LOTS GAGNANTS NIVEAU 2</p>

                <p>La liste des lots n’est pas limitée elle peut s’agrandir selon les dons des exposants pendant la foire. Valeur totale : environ 4000 € TTC. <br>
                    La durée de validité des lots est de trois mois concernant les services et prestations offertes. </p>

                <p>La valeur des prix est déterminée au moment de la rédaction du présent règlement et ne saurait faire l'objet d'une contestation quant à leur évaluation.</p>

                <p>Tous les frais exposés postérieurement au jeu notamment pour l'entretien et l'usage de ces lots sont entièrement à la charge du gagnant. </p>

                <h3>Article 5 : Désignation des gagnants</h3>
                <p>Les gagnants du niveau 1 de jeu  seront tirés au sort par l’informatique du logiciel le dimanche 13 septembre à 18 h.<br>
                    Les gagnants du niveau 2 seront tirés au sort par notre animateur en live depuis notre logiciel. </p> 

                <h3>Article 6 : Annonce des gagnants</h3>
                <p>Les gagnants du niveau 1 seront prévenus par mail et sms.<br>
                    Les gagnants du niveau 2 seront prévenus par sms et par micro sono général. </p>

                <h3>Article 7 : Remise des lots</h3>
                <p>Gagnant Niveau 1 les lots seront à retirer à l’accueil du parc expo de Rouen  après la foire ou pendant la foire au studio animation.</p>
                <p>Gagnant Niveau 2 Un  « bon pour un lot» sera remis à chaque gagnant sur le stand la régie d’animation  (Hall patio)  lui donnant le droit de récupérer son lot  sur le stand x Hall y . 
Les lots non récupérés dans la journée sont remis en jeu pour la journée suivante jusqu’au dernier jour de la foire.</p>

                <p>En cas de retour non délivré, le lot restera à disposition du participant pendant 15 jours. Après ce délai, il ne pourra plus y prétendre.</p>

                <p>Les gagnants s‘engagent à accepter les lots tels que proposés sans possibilité d'échange notamment contre des espèces, d'autres biens ou services de quelque nature que ce soit ni transfert du bénéfice à une tierce personne. De même, ces lots ne pourront faire l'objet de demandes de compensation.</p>

                <p>« L'organisatrice » se réserve le droit, en cas de survenance d'un événement indépendant de sa volonté, notamment lié à ses fournisseurs ou à des circonstances imprévisibles, de remplacer les lots annoncés, par des lots de valeur équivalente. Le gagnant sera tenu informé des éventuels changements. </p>

                <h3>Article 8 : Utilisation des données personnelles des participants</h3>
                <p>Les informations des participants sont enregistrées et utilisées par « L'organisatrice » pour mémoriser leur participation au jeu-concours et permettre l'attribution des lots.</p>

                <p>Les participants peuvent, pour des motifs légitimes, s'opposer à ce que ses données personnelles communiquées dans le cadre de ce jeu fassent l'objet d'un traitement. Ils disposent également d'un droit d'opposition à ce qu'elles soient utilisées à des fins de prospection commerciale, en dehors de la participation à ce jeu-concours, qu'ils peuvent faire valoir dès l'enregistrement de leur participation en s'adressant par courrier à « L'organisatrice » dont l'adresse est mentionnée à l'article 1.</p>

                <p>Le/les gagnant(s) autorisent « L'organisatrice » à utiliser à titre publicitaire ou de relations publiques leurs coordonnées (nom, prénom), sur quelque support que ce soit, sans que cela ne leur confère une rémunération, un droit ou un avantage quelconque, autre que l'attribution de leur lot.</p>

                <p>Conformément à la Loi Informatique et Libertés dans sa dernière version, ainsi qu'au Règlement n°2016/679 du parlement européen et conseil du 27 avril 2016 relatif à la protection des personnes physiques à l'égard du traitement des données à caractère personnel et à la libre circulation de ces données, le participant peut exercer son droit d'accès, de rectification, d'effacement des données, de limitation du traitement, son droit à la portabilité des données, son droit d'opposition, ainsi que son droit au retrait de son consentement en s'adressant par courrier à « L'organisatrice » dont l'adresse est mentionnée à l'article 1.</p>
                
                <h3>Article 9 : Règlement du jeu</h3>
                <p>Le règlement du jeu est déposé à la SELARL ACTA - PIERSON et ASSOCIES titulaire d'un office d'huissier de justice domiciliée 15 rue de Sarre BP 15126 57074 METZ Cedex 3.</p>


                <p>Le  règlement sera visible sur le site de la foire http://www.foirederouen.fr et sur un lien dans l’application du jeu www.7samourais.fr , l'acceptation et la lecture du règlement est obligatoire pour pouvoir jouer, elle implique le fait de communiquer ses coordonnées à Rouen expo événements organisateur du jeu. </p>
                <p>Le règlement complet est également disponible au point animation.</p>
                <p>Il peut être adressé à titre gratuit à toute personne qui en fait la demande auprès de « L'organisatrice ».</p>

                <p>« L'organisatrice » se réserve le droit de prolonger, écourter, modifier ou annuler le jeu à tout moment, notamment en cas de force majeure, sans qu'il puisse être prétendu à aucune indemnité par les participants. Le règlement modifié par avenant(s), sera déposé, le cas échéant à la SELARL ACTA - PIERSON et ASSOCIES titulaire d'un office d'huissier de justice domiciliée 15 rue de Sarre BP 15126 57074 METZ Cedex 3. </p>

                <h3>Article 10 : Propriété industrielle et intellectuelle</h3>
                <p>La reproduction, la représentation ou l'exploitation de tout ou partie des éléments composant le jeu, le présent règlement compris sont strictement interdites.</p>

                <p>Toutes les marques, logos, textes, images, vidéos et autres signes distinctifs reproduits sur le site ainsi que sur les sites auxquels celui-ci permet l'accès par l'intermédiaire de liens hypertextes, sont la propriété exclusive de leurs titulaires et sont protégés à ce titre par les dispositions du Code de la propriété intellectuelle et ce pour le monde entier. Leur reproduction non autorisée constitue une contrefaçon passible de sanctions pénales.</p>

                <p>Toute reproduction, totale ou partielle, non autorisée de ces marques, logos et signes constitue une contrefaçon passible de sanctions pénales.</p>

                <p>La participation à ce jeu implique l'acceptation pleine et entière du présent règlement par les participants.</p>

                <h3>Article 11 : Responsabilité</h3>
                <p>La responsabilité de « L'organisatrice » ne saurait être engagée en cas de force majeure ou de cas fortuit indépendant de sa volonté.</p>

                <p>« L'organisatrice » ne saurait être tenue pour responsable des retards, pertes, vols, avaries des courriers, manque de lisibilité des cachets du fait des services postaux. Elle ne saurait non plus être tenue pour responsable et aucun recours ne pourra être engagé contre  elle en cas de survenance d'événements présentant les caractères de force majeure (grèves, intempéries...) privant partiellement ou totalement les participants de la possibilité de participer au jeu et/ou les gagnants du bénéfice de leurs gains.</p>

                <p>« L'organisatrice » ainsi que ses prestataires et partenaires ne pourront en aucun cas être tenus pour responsables des éventuels incidents pouvant intervenir dans l'utilisation des dotations par les bénéficiaires ou leurs invités dès lors que les gagnants en auront pris possession. </p>

                <p>De même « L'organisatrice », ainsi que ses prestataires et partenaires, ne pourront être tenus pour responsables de la perte ou du vol des dotations par les bénéficiaires dès lors que les gagnants en auront pris possession. Tout coût additionnel nécessaire à la prise en possession des dotations est à l'entière charge des gagnants sans que ceux-ci ne puissent demander une quelconque compensation à « L'organisatrice », ni aux sociétés prestataires ou partenaires. </p>

                <h3>Article 12 : Litige & Réclamation</h3>
                <p>Le présent règlement est régi par la loi française.</p>

                <p>« L'organisatrice » se réserve le droit de trancher sans appel toute difficulté pouvant survenir quant à l'interprétation ou à l'application du présent règlement, étant entendu qu'aucune contestation ne sera admise notamment sur les modalités du jeu, sur les résultats, sur les gains ou leur réception, un mois après la fin du jeu. Sauf en cas d'erreurs manifestes, il est convenu que les informations résultant des systèmes de jeu de la « L'organisatrice » ont force probante dans tout litige quant aux éléments de connexion et au traitement informatique des dites informations relatives au jeu.</p>

                <p>Toute réclamation doit être adressée dans le mois suivant la date de fin du jeu à : « L'organisatrice ». Passée cette date, aucune réclamation ne sera acceptée. La participation au jeu entraîne l'entière acceptation du présent règlement. </p>

                <h3>Article 13 : Convention de preuve</h3>
                <p>De convention expresse entre le participant et « L'organisatrice », les systèmes et fichiers informatiques de « L'organisatrice » feront seuls foi.</p>

                <p>Les registres informatisés, conservés dans les systèmes informatiques de « L'organisatrice », dans des conditions raisonnables de sécurité et de fiabilité, sont considérés comme les preuves des relations et communications intervenues entre « L'organisatrice » et le participant.</p>

                <p>Il est en conséquence convenu que, sauf erreur manifeste, « L'organisatrice » pourra se prévaloir, notamment aux fins de preuve de tout acte, fait ou omission, des programmes, données, fichiers, enregistrements, opérations et autres éléments (tels que des rapports de suivi ou autres états) de nature ou sous format ou support informatiques ou électroniques, établis, reçus ou conservés directement ou indirectement par « L'organisatrice », notamment dans ses systèmes informatiques.</p>

                <p>Les éléments considérés constituent ainsi des preuves et s'ils sont produits comme moyens de preuve par « L'organisatrice » dans toute procédure contentieuse ou autre, ils seront recevables, valables et opposables entre les parties de la même manière, dans les mêmes conditions et avec la même force probante que tout document qui serait établi, reçu ou conservé par écrit.</p>

                <p>Les opérations de toute nature réalisées à l'aide de l'identifiant et du code attribués à un participant, à la suite de l'inscription, sont présumées de manière irréfragable, avoir été réalisées sous la responsabilité du participant.</p>


                <p>Le dépôt de ce règlement de jeu-concours a été effectué via le site internet : https://www.reglementdejeu.com</p>
                
                
                <p><a href="javascript:history.back()">Retour</a></p>
    
            </section>
        </div>
</div>


{% endblock content %}
