{% extends 'game/base.html.twig' %}

{% block content %}

<div id="mainWrapper" class="bigCover">
        
        <div class="clouds"></div>
        
        <div class="content">

            <section>
                
                <div class="logo"><img src="/img/title.png" alt="Grand prix de la chanson"></div>

                <p><strong>Le 28 septembre 2024</strong>, votez pour vos candidats préférés pour décerner le prix du public !</p>

                {% if app_inscription %}
                <a href="{{ path('app_register') }}" class="button redButton">M'inscrire</a>
                <a href="{{ path('app_login') }}" class="button redButton">Me connecter</a>
                {% endif %}

                {% if app_login_code %}
                <p>Pour participer, vous devez disposer du code indiqué sur votre bulletin de participation.</p>
                <a href="{{ path('app_login_code') }}" class="button redButton">J'ai un code</a>
                {% endif %}

            </section>

            {% if app_gpdc %}
                <section class="graySection">
                    <p><img src="/img/lillebonne.png" alt="Ville de Lillebonne"></p>
                </section>
            {% endif %}
            
        </div>

</div>


{% endblock content %}
