{% extends 'game/base.html.twig' %}

{% block content %}

<div id="mainWrapper" class="bigCover">
        
        <div class="clouds"></div>
        
        <div class="content">

            <section>
                
                <p><img src="img/title.svg" alt="Grand jeu - enquête à la foire"></p>
                <p>Du <strong>22</strong> au <strong>31 mars</strong>, menez l'enquête en visitant les halls de la Foire de Rouen <strong>et remportez des cadeaux !</strong></p>
                <a href="{{ path('game_signup') }}" class="button redButton">C'est parti !</a>
            
            </section>
            
            <section class="graySection">
                
                <h2>Des dizaines de cadeaux à gagner !</h2>
                
                <h3>Gagnez à tout moment !</h3>
                
                <p>Vous pouvez gagner à tout moment : écoutez bien la sono de la foire, un gagnant est désigné toute les 30 minutes en moyenne !</p>
                
                <h3>Grand tirage au sort !</h3>
                
                <p>Et à la fin de la foire, un grand tirage au sort désignera les heureux gagnants des "gros lots" !</p>
                
                <p>Pour en savoir plus,<br>consultez le <a href="{{ path('game_rules') }}">règlement</a></p>
                
            </section>
            
        </div>

</div>


{% endblock content %}
