{% extends 'game/base.html.twig' %}

{% block content %}

<div id="mainWrapper" class="bigCover">
        
        <div class="clouds"></div>
        
        <div class="content">

            <section>
                
                <div class="logo"><img src="/img/title.png" alt="56e Grand Prix de la Chanson"></div>
                <p><strong>Samedi 26 septembre</strong>, inscrivez-vous sur ce site et <strong>votez</strong> en live pour votre candidat préféré !</p>
                <p>Le grand gagnant recevra le Prix du public !</strong></p>
                <a href="{{ path('game_signup') }}" class="button redButton">C'est parti !</a>
            
            </section>
            
            <section class="graySection">
                
                <p><img src="/img/lillebonne.png" alt="Ville de Lillebonne"></p>
                
            </section>
            
        </div>

</div>


{% endblock content %}
