{% extends 'game/base.html.twig' %}

{% block content %}

<div id="mainWrapper" class="bigCover">
        
        <div class="clouds"></div>
        
        <div class="content">

            <section>
                
                <div class="logo"><img src="/img/titre.png" alt="Grand jeu Viking"></div>

                <p><strong>Du 25 mars au 3 avril</strong>, menez l'enquête en visitant les halls de la Foire de Rouen <strong>et remportez des cadeaux !</strong></p>

                {% if app_inscription %}
                <a href="{{ path('app_register') }}" class="button redButton">M'inscrire</a>
                <a href="{{ path('app_login') }}" class="button redButton">Me connecter</a>
                {% endif %}

                {% if app_login_code %}
                <a href="{{ path('app_login_code') }}" class="button redButton">J'ai un code</a>
                {% endif %}

            </section>
            
            {#<section class="graySection">
                <p><img src="/img/lillebonne.png" alt="Ville de Lillebonne"></p>
            </section>#}
            
        </div>

</div>


{% endblock content %}
