{% extends 'game/base.html.twig' %}

{% block content %}

    Visuel
    <br>
    <h1>Enquête à la foire</h1>
    <br>
    Lorem ipsum...
    <br>
    <br>
    <a href="{{ path('game_signup') }}">C'est parti</a>


{% endblock content %}
