{% if app.session is not null and app.session.started %}
    {% set _flash_messages = app.session.flashbag.all %}

    {% if _flash_messages|length > 0 %}
        <div id="flash-messages">
            {% for label, messages in _flash_messages %}
                {% for message in messages %}
                    <div class="alert alert-{{ label }}" style="cursor: pointer">
                        {{ message|trans|raw }}
                    </div>
                {% endfor %}
            {% endfor %}
        </div>
        <script>
            // Vanilla JS
            document.querySelectorAll('#flash-messages .alert')
                .forEach((flashMessage) => {
                    flashMessage.addEventListener('click', () => {
                        flashMessage.parentNode.removeChild(flashMessage);
                    });
                });
        </script>
    {% endif %}
{% endif %}
